<aside class="profile profile-left">
  <img class="img-fluid z-depth-1 rounded" src="{{ '/assets/img/thong_nguyen.jpg' | relative_url }}">
  <h2 class="profile-name">Thong Nguyen</h2>
  <p class="profile-tagline">Researcher in large multimodal models and video understanding. PhD, NUS.</p>
  <div class="address">
    <ul class="author-links">
      <li><i class="fas fa-map-marker-alt"></i> Singapore</li>
      <li><a href="mailto:thong.nguyen@u.nus.edu"><i class="fas fa-envelope"></i> Email</a></li>
      <li><a href="https://www.linkedin.com/in/thongnguyen5999/"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="https://github.com/nguyentthong"><i class="fab fa-github"></i> GitHub</a></li>
      <li><a href="https://scholar.google.com/citations?user=C2zb0lkAAAAJ"><i class="fas fa-graduation-cap"></i> Google Scholar</a></li>
    </ul>
    <p class="photo-credit-line"><span style="font-weight: 700!important">Photo credit</span>: <span style="font-family: 'Lucida Console', monospace"><a href="https://www.instagram.com/abbymyth/" style="color:var(--global-theme-color)">abbymyth<i class="material-icons" style="font-size:15px;color:#fec44f">wb_sunny</i></a></span></p>
  </div>
</aside>
