---
---

<div class="row">
  <div id="{{entry.key}}" class="col-12">
    {% if entry.type == "thesis" %}
      {{reference}}
    {% else %}
      <div class="title">
        {% if entry.arxiv %}
          <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">{{entry.title}}</a>
        {% else %}
          {{entry.title}}
        {% endif %}
      </div>
      <div class="author">
        {% for author in entry.author_array %}
          {% assign author_is_self = false %}
          {% if author.last == site.scholar.last_name%}
            {% if site.scholar.first_name contains author.first%}
              {% assign author_is_self = true %}
            {% endif %}
          {% endif %}
          {% assign coauthor_url = nil %}
          {% if site.data.coauthors[author.last] %}
            {% for coauthor in site.data.coauthors[author.last] %}
              {% if coauthor.firstname contains author.first %}
                {% assign coauthor_url = coauthor.url %}
                {% break %}
              {% endif %}
            {% endfor %}
          {% endif %}
          
          {% if forloop.length == 1 %}
            {% if author_is_self %}
              <em>{{author.first}} {{author.last}}</em>
            {% else %}
            {{author.first}} {{author.last}}
            {% endif %}
          {% else %}
            {% unless forloop.last %}
              {% if author_is_self %}
                <em>{{author.first}} {{author.last}}</em>,
              {% else %}
                {% if coauthor_url %}
                  <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>,
                {% else %}
                  {{author.first}} {{author.last}},
                {% endif %}
              {% endif %}
            {% else %}
              {% if author_is_self %}
               <em>{{author.first}} {{author.last}}</em>
              {% else %}
                {% if coauthor_url %}
                 <a href="{{coauthor_url}}" target="_blank">{{author.first}} {{author.last}}</a>
                {% else %}
                 {{author.first}} {{author.last}}
                {% endif %}
              {% endif %}
            {% endunless %}
          {% endif %}
        {% endfor %}
      </div>

      {% unless entry.journal == "arXiv" %}
      <div class="periodical">
      {% if entry.type == "article" %}
        <em>In {{entry.journal}}</em>
      {% elsif entry.type == "inproceedings" %}
        <em>In {{entry.booktitle}}</em>
      {% endif %}
      </div>
      {% endunless %}
    {% endif %}

  </div>
</div>
